[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gplsim"]
	path = gplsim
	url = https://github.com/cran/gplsim
[submodule "siqr"]
	path = siqr
	url = https://github.com/zzz1990771/siqr
