[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geeVerse"]
	path = geeVerse
	url = https://github.com/zzz1990771/geeverse
[submodule "gplsim"]
	path = gplsim
	url = https://github.com/cran/gplsim
[submodule "localboot"]
	path = localboot
	url = https://github.com/cran/localboot
[submodule "siqr"]
	path = siqr
	url = https://github.com/zzz1990771/siqr
